<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
 <!--   package="com.app.freya"-->

    <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <!--位置权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-feature android:name="android.hardware.bluetooth"/>
    <uses-feature android:name="android.hardware.bluetooth_le"/>

    <application
        android:name="com.app.smartkeyboard.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SmartKeyboard"
        tools:targetApi="31">

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".second.WeatherLogActivity"/>

        <activity android:name=".second.SecondHomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ble.NotifyLogActivity"/>

        <!--记事本页面-->
        <activity
            android:name="com.app.smartkeyboard.NotebookActivity"
            android:screenOrientation="portrait" />
        <!--编辑记事本-->
        <activity
            android:name="com.app.smartkeyboard.EditNoteBookActivity"
            android:screenOrientation="portrait" />
        <!--键盘页面-->
        <activity
            android:name="com.app.smartkeyboard.BleKeyboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.smartkeyboard.DialHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.smartkeyboard.CustomDialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.smartkeyboard.ShowWebViewActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.app.smartkeyboard.img.ImagePreviewActivity" />
        <activity android:name="com.app.smartkeyboard.img.ImageSelectActivity" />
        <activity android:name="com.app.smartkeyboard.img.CameraActivity" />
        <activity android:name="com.app.smartkeyboard.LogActivity" />

        <service android:name="com.app.smartkeyboard.ble.ConnStatusService" />

     <!--   <activity
            android:name="com.app.freya.second.SecondHomeActivity"
            android:screenOrientation="portrait" />-->

        <activity
            android:name="com.app.smartkeyboard.CustomSpeedActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.smartkeyboard.second.AlarmListActivity"
            android:screenOrientation="portrait"/>

        <!--裁剪-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".second.AppVersionActivity"
            android:screenOrientation="portrait"/>
        <!--二代记事本-->
        <activity
            android:name="com.app.smartkeyboard.second.NotePadActivity"
            android:screenOrientation="portrait" />
        <!--二代编辑添加-->
        <activity
            android:name="com.app.smartkeyboard.second.SecondAddEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.smartkeyboard.second.NotifyOpenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.app.smartkeyboard.second.SecondScanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".second.AboutDeviceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".second.SecondGifHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".second.SecondAutoLockActivity"/>
        <activity android:name=".second.SecondGifSpeedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".second.SecondHasBindDeviceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".second.SecondEditBindNameActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.app.smartkeyboard.ble.SNNotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name="com.app.smartkeyboard.PingT"/>
        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>